
<style type="text/css">
	.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.carousel {
	position: relative;
	top: -75px;
	z-index: 1;
}*/

.capttxt {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}

.btnhomslider {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: #00aff0;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.btncta {
	font-size: 16px;
	font-weight: 500;
	color: #4c4848;
	width: 100%;
	background-color: #ffffff;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.btncta:hover {
	font-size: 16px;
	font-weight: 500;
	color: #4c4848;
	width: 100%;
	background-color: #ffffff;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.95);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.btncta:active {
	font-size: 16px;
	font-weight: 500;
	color: #4c4848;
	width: 100%;
	background-color: #ffffff;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.95);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.btnhomslider:hover {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: #00aff0;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.90);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.90);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.90);
}

.carousel-control-prev-icon{
	display:inline-block;
	width:50px;
	height:50px;
	border: 3px solid #e08d1e;
	border-radius: 50px;
	color: #ffffff;
	background:transparent no-repeat center center;
	background-size:100% 100%}

	.carousel-control-next-icon{
	display:inline-block;
	width:50px;
	height:50px;
	border: 3px solid #e08d1e;
	border-radius: 50px;
	color: #ffffff;
	background:transparent no-repeat center center;
	background-size:100% 100%}

	.ctaholder {
		background-color: #e08d1e;
		padding: 30px;
	}

	.aboutwelchere {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.aboutwelchere1 {
		padding-top: 0px;
		padding-bottom: 50px;
	}

	.aboutwelchere2 {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #f3f3f3;
	}

	.colhold {
		padding: 15px;
	}

	.lastctasect {
		background:linear-gradient(0deg,rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),url(https://res.cloudinary.com/nikasemo/image/upload/v1568925194/5d83e618e1cf2_dngapp.jpg);
  background-position:center;
  min-height: 450px;
  padding: 50px;
	}

	.homesect1 {
		padding: 60px;
	}

	.homesect2 {
		padding: 40px;
	}

	.linedivideblue {
		background-color: #0290fd;
		height: 3px;
		border: none;
	}

	.holdserv {
		border-radius: 7px;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.19);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.19);
margin-bottom: 20px;
	}

	.holdtexcont {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-top: 15px;
		background-color: #f8f8f8;
	}

	.holdtexcont:hover {
		-webkit-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.2);
box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.2);
	}


	.holdtracking {
		background:linear-gradient(0deg,rgba(234, 234, 234,0.75),rgba(234, 234, 234,0.8)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/womap.jpg);
  background-position:center;
  margin-bottom: 40px;
  padding: 50px;
	}

	.carousel-caption {
      bottom: 150px;
    }



  @media only screen and (min-width : 100px) and (max-width : 600px) {

    .carousel-caption {
      bottom: 50px;
    }

    .homesect1 {
		padding: 30px;
	}

	.homesect2 {
		padding: 30px;
	}

	.holdtracking {
		background:linear-gradient(0deg,rgba(234, 234, 234,0.75),rgba(234, 234, 234,0.8)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/womap.jpg);
  background-position:center;
  margin-bottom: 40px;
  padding: 30px;
	}

   /* .serchlo {
    	margin-top: 10px;
    	margin-left: 0px;
    }*/

  }


</style>

<header>
 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4dad8a9c13e-2.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Ghana's foremost Freight fowarding and Logistics Company.</h3>
              <p style=" font-weight: 300;">Felisco-Sun Ghana Limited is your reliable and most efficient provider of freight forwarding and total logistics services.</p>
              <p style="text-align: center;"><a href="/contactus" class="btn btn-lg btnhomslider">Contact Us</a></p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4db02793099-warehouse.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Get your Cargo shipped and delivered in time.</h3>
              <p style=" font-weight: 300;">
              Get your cargo shipped shipped and delieverd to you on time. Our certified personnels ensure you are covered in all aspects regarding freight fowarding.</p>
              <p style="text-align: center;"><a href="/contactus" class="btn btn-lg btnhomslider">Contact Us</a></p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4daf22d9fa4-haulage.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Get packages directly to clients.</h3>
              <p style=" font-weight: 300;">We also ensure our clients receive packages on time without delay through our partners.</p>
              <p style="text-align: center;"><a href="/contactus" class="btn btn-lg btnhomslider">Contact Us</a></p>
            </div>
          </div>

          <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4db27708198-welcclient.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Efficiently track your goods as they come</h3>
              <p style=" font-weight: 300;">We provide a comprehensive system of tracking whick lets you know the state of your package wherever it is as it gradually gets to you.</p>
              <p style="text-align: center;"><a href="/contactus" class="btn btn-lg btnhomslider">Contact Us</a></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
          	<i class="fa fa-chevron-left" aria-hidden="true" style="position: relative; top: 12px;"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
          	<i class="fa fa-chevron-right" aria-hidden="true" style="position: relative; top: 12px;"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <section class="homesect1">
    	<div class="container">
    	<div class="row">
    		<div class="col-lg-6">
    			<h4>Welcome to Felisco Sun Ghana</h4>
    			<hr width="10%" align="left" class="linedivideblue">
    			<p style="font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
    				Felisco-Sun Ghana Limited is your reliable and most efficient provider of freight forwarding and total logistics services.<br>
					With international and local branches, we employ both full time and casual staff in order to facilitate smooth running of our entire product portfolio value chain. We have been operating since 2012 and our experience with hundreds of clients makes us the best partner for all your freight forwarding and logistics services. We employ international best practices both in dealing with customers as well as our staff... 
					<a href="/whoweare" style="color: #fda102; font-weight: 600;">read more</a>
    			</p>
    		</div>
    		<div class="col-lg-6">
    			<img class="img-fluid" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4db88dc6353-welc.jpg">
    		</div>
    	</div>
    </div>
    </section>


    <section class="homesect2">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<h3 style="text-align: center;">Solutions we provide</h3>
    				<p style="text-align: center; font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
    					At Felisco-sun Ghana Limited, we work conscientiously to ensure we bring you the best from the services we provide for our clients.
    				</p>
    			</div>
    		</div>
    		<div class="row" style="margin-top: 30px;">

    			<div class="col-lg-3">
    				<div class="holdserv">
    					<img class="" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4dc39ff1192.jpg" width="100%" height="160px">
    					<a href="/">
	    					<div class="holdtexcont">
		    					<p style="text-align: left; font-size: 18px; color: #4a4a4a; line-height: 28px; font-weight: 500;">
		    						Clearing and fowarding General Goods
		    					</p>
		    					<p style="text-align: left; font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
		    					We specialize in clearing and fowarding General goods from any part of the World. We have representatives working to bring you the best.
		    					</p>
	    					</div>
	    				</a>
    				</div>
    			</div>

    			<div class="col-lg-3">
    				<div class="holdserv">
    					<img class="" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4dc70f1a439.jpg"width="100%" height="160px">
    					<a href="/">
	    					<div class="holdtexcont">
		    					<p style="text-align: left; font-size: 18px; color: #4a4a4a; line-height: 28px; font-weight: 500;">
		    						Trading of everyday commodities
		    					</p>
		    					<p style="text-align: left; font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
		    					We also trade in everyday commodities. We trade in essential commodities like grains, sugar, cashew, timber and many more.
		    					</p>
	    					</div>
	    				</a>
    				</div>
    			</div>

    			<div class="col-lg-3">
    				<div class="holdserv">
    					<img class="" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4dc7c59cf53.jpg" width="100%" height="160px">
    					<a href="/">
	    					<div class="holdtexcont">
		    					<p style="text-align: left; font-size: 18px; color: #4a4a4a; line-height: 28px; font-weight: 500;">
		    						Supply of General goods
		    					</p>
		    					<p style="text-align: left; font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
		    					We also supply general Goods to local markets in Ghana and also international markets if the need arises. Our track record speaks for itself.
		    					</p>
	    					</div>
	    				</a>
    				</div>
    			</div>

    			<div class="col-lg-3">
    				<div class="holdserv">
    					<img class="" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4db02793099-warehouse.jpg" width="100%" height="160px">
    					<a href="/">
	    					<div class="holdtexcont">
		    					<p style="text-align: left; font-size: 18px; color: #4a4a4a; line-height: 28px; font-weight: 500;">
		    						Import and export of General goods
		    					</p>
		    					<p style="text-align: left; font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
		    					We also facilitate imports and exports. We export essentials like timber, grains and other commodities as demanded by our clients.
		    					</p>
	    					</div>
	    				</a>
    				</div>
    			</div>

    		</div>
    	</div>
    </section>


    <section class="holdtracking">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-5">
    				<h4>Track your Shipment</h4>
    			<hr width="10%" align="left" class="linedivideblue">
    			<p style="font-size: 14px; color: #4a4a4a; line-height: 28px; font-weight: 400;">
    				We provide a comprehensive system of tracking whick lets you know the state of your package wherever it is as it gradually gets to you. It is very neccesary for our clients to feel safe about their shipments and our tracking systems ensures that. With regular updates to the state of your shipment.
    			</p>
    			</div>
    			<div class="col-lg-1">
    			</div>
    			<div class="col-lg-6">
    				<p>
    					<img width="100px" height="100px" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/logistics.png">
    					<div class="holdtrack">

					        <h4 style="color: #0290fd; margin-bottom: 20px;">Shipment Tracking</h4>

					            <p class="howbintrot">
					            Enter your tracking code in the input area below
					          </p>

					          <div class="row no-gutters">
					            <div class="col-lg-8 col-9">
					              <input type="text" placeholder="Tracking Code" class="form-control" name="">
					            </div>
					            <div class="col-lg-4 col-3">
					              <button class="btn btn-primary serchlo" style="margin-left: 10px; background-color: #fda102; border: none;">
					              		Find 
					              		<i class="fa fa-search" aria-hidden="true"></i>
					         	 </button>
					            </div>
					          </div>

          					</div> 
    				</p>
    			</div>
    		</div>
    	</div>
    </section>


















