<style type="text/css">
  
.howbintrot {
  background-color: #0290fd;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.actnowbutton {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
}

.actnowbutton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.actnowbutton:active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.ctasection {
  background-color: #0290fd;
  padding: 30px;
}

</style>


<section class="my-5" id="sect2">
  <div class="container">
    <div class="row">

      <div class="col-lg-7">

        <h4 style="color: #0290fd; font-family: 'Francois One', sans-serif; margin-bottom: 20px;">Our CEO</h4>

            <p class="howbintrot">My deepest desire as a young African, is to be empowered enough to inspire others to develop solutions to address the many challenges faced by African.</p>

            <p style="font-size: 14px; line-height: 28px;">
            My deepest desire as a young African, is to be empowered enough to inspire others to develop solutions to address the many challenges faced by African. It is my personal view that Africa has enough human resources, intelligence, ability, innovation as well as creative mind providing cutting edge solution of the myriad of challenges it faces.
            <br>
            While we continue to strongly believe in the Almighty God, we need to put our minds to work. Our God given intelligence gives us the ability to be innovative, and creative enough to achieve our full potential. Our ability to succeed is only limited by our imagination. As Deepak Chopra aptly puts it, the best use of imagination is creativity and the worse use of imagination is anxiety.<br> 
            At Felisco-sun Ghana Limited, we work conscientiously to ensure that our staff maximize their potential with the ultimate desire to ensure that customers are fully satisfied with our products and services.<br><br> 
            At Felisco-Sun Ghana Limited<br>
            <strong>“We save you cargo, we save your life.”</strong>

            </p>

		         <p style="margin-top: 30px; font-weight: 600; font-size: 18px; color: #0290fd;">Video</p>
           <video width="100%" controls>
            <source src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/vidfeliso.mp4" type="video/mp4">
            Your browser does not support HTML video.
          </video>
      </div>

      <div class="col-lg-5">
        
        		<p>
             <img class="img-fluid" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/feliscopic1.jpg">
           </p>

          
       
      </div>

    </div>
  </div>
</section>

<section class="ctasection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div class="holdcta">
          
          <p style="text-align: left; font-size: 14px; line-height: 20px; color: #ffffff; font-weight: 400; margin-top: 10px;">
            <span style="font-weight: 600; font-size: 18px;">Click on the button on your right and start talking to us.</span></p>
          
        </div>
        
      </div>
      <div class="col-lg-4">
        <p style="text-align: center;">
          <a href="/contactus" class="btn btn-primary btn-lg actnowbutton" data-toggle="modal" data-target="#exampleModal">
            Work with Us
          </a>
        </p>
      </div>

    </div>
  </div>
</section>



