<style type="text/css">
  
.howbintrot {
  background-color: #0290fd;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.actnowbutton {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
}

.actnowbutton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.actnowbutton:active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.ctasection {
  background-color: #0290fd;
  padding: 30px;
}

</style>


<section class="my-5" id="sect2">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">

        <h4 style="color: #0290fd; font-family: 'Francois One', sans-serif; margin-bottom: 20px;">What we do</h4>

            <p class="howbintrot">At AG Technologies, we pride ourselves as the number one provider of Technology services for businesses and organisations.</p>

            <p style="font-size: 14px; line-height: 28px;">
            AG Technologies makes integrating technology into your company or organisations very seamless. In this digital age not having a digital foot print in this world is a big red flags. Technology makes work very easy and simple. At AG Technologies, we pride ourselves as the number one provider of Technology solutions for businesses and organisations. 
            Be it Website, Web Applications, Mobile Applications, Data management or even cloud computing services. AG Technologies has you covered. We understand these technologies deeply and widely and we are going to help you make the most of these technologies in your Business.
            Integrating Tech in your business just got easy and seamless!
            </p>
		        
      </div>

      <div class="col-lg-6">
        
        		<p>
             <img class="img-fluid" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4dc7c59cf53.jpg"></p>
       
      </div>

    </div>
  </div>
</section>

<section class="ctasection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div class="holdcta">
          
          <p style="text-align: left; font-size: 14px; line-height: 20px; color: #ffffff; font-weight: 400; margin-top: 10px;">
            <span style="font-weight: 600; font-size: 18px;">Click on the button on your right and start talking to us.</span></p>
          
        </div>
        
      </div>
      <div class="col-lg-4">
        <p style="text-align: center;">
          <a href="/contactus" class="btn btn-primary btn-lg actnowbutton" data-toggle="modal" data-target="#exampleModal">Work with Us</a>
        </p>
      </div>

    </div>
  </div>
</section>