<style type="text/css">
  
.howbintrot {
  background-color: #0290fd;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.actnowbutton {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
}

.actnowbutton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.actnowbutton:active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
}

.ctasection {
  background-color: #0290fd;
  padding: 30px;
}

</style>


<section class="my-5" id="sect2">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">

        <h4 style="color: #0290fd; font-family: 'Francois One', sans-serif; margin-bottom: 20px;">Who we are</h4>

            <p class="howbintrot">Felisco-Sun Ghana Limited is your reliable and most efficient provider of freight forwarding and total logistics services.</p>

            <p style="font-size: 14px; line-height: 28px;">
            Felisco-Sun Ghana Limited is your reliable and most efficient provider of freight forwarding and total logistics services.<br>
            With international and local branches, we employ both full time and casual staff in order to facilitate smooth running of our entire product portfolio value chain. We have been operating since 2012 and our experience with hundreds of clients makes us the best partner for all your freight forwarding and logistics services. We employ international best practices both in dealing with customers as well as our staff. Our work philosophy focus on the positivity of life, thus our logo bearing the sun as array of hope and life each day we see it.<br>
            We truly believe that whenever the sun shines on the surface of the earth we will endeavor to reach it on behalf of our clients.
            </p>
		        
      </div>

      <div class="col-lg-6">
        
        		<p>
             <img class="img-fluid" src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/5f4db88dc6353-welc.jpg"></p>
       
      </div>

    </div>
  </div>
</section>

<section class="ctasection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div class="holdcta">
          
          <p style="text-align: left; font-size: 14px; line-height: 20px; color: #ffffff; font-weight: 400; margin-top: 10px;">
            <span style="font-weight: 600; font-size: 18px;">Click on the button on your right and start talking to us.</span></p>
          
        </div>
        
      </div>
      <div class="col-lg-4">
        <p style="text-align: center;">
          <a href="/contactus" class="btn btn-primary btn-lg actnowbutton" data-toggle="modal" data-target="#exampleModal">Work with Us</a>
        </p>
      </div>

    </div>
  </div>
</section>