<div class="container" style="margin-top: 40px;">
	<div class="row">
		<div class="col-lg-6">
			<h4>Create Shipping Receipt</h4>
			<hr>
			<%= render 'form', shippingorder: @shippingorder %>
		</div>
	</div>
</div>
